# IDE settings:
.idea/
.vscode/

# macOS settings:
.DS_Store

# Artifacts settings:
/Source_code/Application/Saves
/Source_code/Application/log_file.txt

# Python settings:
**/__pycache__/
/Requirements

# Logs settings:
log_file.txt